/packages
/AweSamNet.JsonObfuscator.v12.suo
/AweSamNet.JsonObfuscator.sln.DotSettings.user
/AweSamNet.JSONObfuscator/AweSamNet.JsonObfuscator.csproj.user
/AweSamNet.JSONObfuscator/bin
/AweSamNet.JSONObfuscator/obj
bin
obj
